@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  /* Colors */
  --primary-color: #161616;
  --seccondary-color: #222222;
  --seccondary-color-2: #ff8a00;
  --neutral-color: #f4f4f4;

  /* Fonts Weight */
  --font-light: 300;
  -font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
}
html {
  scroll-behavior: smooth;
  font-family: "Ubuntu", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
  background-color: var(--primary-color);
}
ul,
li,
a {
  text-decoration: none;
  list-style: none;
  padding: 0;
}
/* Header */
.header {
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.header__title {
  display: flex;
  width: 300px;
  margin-left: 40px;
  align-items: center;
}
.header__title img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}
.header__title-h1 {
  width: 200px;
  font-size: 3.6rem;
  letter-spacing: 2.5px;
  font-weight: var(--font-light);
  color: var(--neutral-color);
}

.header__title-h1::after {
  content: "Shapes";
  font-size: 3.6rem;
  font-weight: var(--font-bold);
  color: var(--neutral-color);
}
/* Nav */
.nav {
  display: flex;
  height: 95px;
  align-items: center;
  background-color: var(--seccondary-color);
  overflow-y: hidden;
  overflow-x: auto;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  scrollbar-width: none;
}
.nav::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.nav__list li {
  display: flex;

  justify-content: center;
  align-items: center;
  width: auto;
  height: 46px;
  white-space: nowrap;
  border-radius: 15px;
}
.nav__list li:focus-within,
.nav__list li a:focus-within {
  color: var(--seccondary-color);
  background-color: var(--neutral-color);
}
.nav li img {
  width: 30px;
  height: 30px;
}
.nav__list li a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  color: var(--neutral-color);
  font-size: 2rem;
  font-weight: var(--font-bold);
  letter-spacing: -0.05em;
  text-transform: uppercase;
}
.nav li .link-1::before {
  display: flex;
  content: "";
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-image: url("./img/fa-solid_shapes.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.nav li .link-2::before {
  display: flex;
  content: "";
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-image: url("./img/fa-solid_money-bill-wave.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.nav li .link-3::before {
  display: flex;
  content: "";
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-image: url("./img/perc.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.nav li .link-4::before {
  display: flex;
  content: "";
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-image: url("./img/Vector.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* Form */
.calculator__sect {
  margin-top: 20px;
}
.card--square {
  display: flex;
  width: 280px;
  height: 280px;

  background-color: var(--seccondary-color);
  flex-direction: column;
  border-radius: 15px;
  padding: 0 24px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}
.card--square .card__title {
  display: flex;
  align-items: center;
  color: var(--neutral-color);
  font-size: 2rem;
  font-weight: var(--font-bold);
}
.card--square .card__title::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-image: url("./img/Square.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card--square .card__question {
  color: var(--neutral-color);
  font-size: 1.8rem;
  font-weight: var(--font-light);
}
.card--square input {
  width: 232px;
  height: 40px;
  background-color: transparent;
  font-size: 1.8rem;
  font-weight: var(--font-medium);
  color: var(--neutral-color);
  border-radius: 5px;
  text-align: center;
  margin: 14px 14px 0 14px;
}
.card--square input::after {
    content: "cm";
    display: flex;
    width: 20px;
    height: 20px;
    font-size: 1.8rem;
    color: var(--neutral-color);
    font-weight: var(--font-light);
    
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.card--square .buttons__container {
  display: flex;
  width: 237px;
  margin: 14px;
  justify-content: space-between;
}
.card--square button {
  width: 111px;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--seccondary-color-2);
  border-radius: 5px;
  color: var(--neutral-color);
  font-size: 1.4rem;
  font-weight: var(--font-light);

}
.card--square p {
  display: flex;
  width: 232px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--neutral-color);
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: var(--font-light);
  color: var(--neutral-color);
  margin: 0 14px;
}
/* Card Triangle */
.card--triangle {
  display: flex;
  width: 280px;
  height: 392px;

  background-color: var(--seccondary-color);
  flex-direction: column;
  border-radius: 15px;
  padding: 0 24px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}
.card--triangle .card__title {
  display: flex;
  align-items: center;
  color: var(--neutral-color);
  font-size: 2rem;
  font-weight: var(--font-bold);
}
.card--triangle .card__title::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-image: url("./img/TriangleVector.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card--triangle .card__question {
  color: var(--neutral-color);
  font-size: 1.8rem;
  font-weight: var(--font-light);
}
.card__inputs {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
}
.card--triangle input {
  width: 111px;
  height: 40px;
  background-color: transparent;
  font-size: 1.8rem;
  font-weight: var(--font-medium);
  color: var(--neutral-color);
  border-radius: 5px;
  text-align: center;
  margin: 14px 14px 0 14px;
}
.card--triangle input::after {
    content: "cm";
    display: flex;
    width: 20px;
    height: 20px;
    font-size: 1.8rem;
    color: var(--neutral-color);
    font-weight: var(--font-light);
    
}
.card--triangle .buttons__container {
  display: flex;
  width: 237px;
  margin: 14px;
  justify-content: space-between;
}